.boardWrapper {
   display: flex;
   flex-direction: column;
   row-gap: 1.25rem;
   height: 100%;
   width: 100%;

   .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.5rem;

      .colorBall {
         width: 0.5rem;
         height: 0.5rem;
         border-radius: 50%;
      }
   }

   .taskList {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      width: 100%;

   }

   .addButton {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 2.5rem;
      padding: .75rem;
      border-radius: .75rem;

      font-weight: 500;
      color: #2A4DD0;

      background: #C4DAFB;
   }

}