.boardWrapper {
   display: flex;
   flex-direction: column;
   row-gap: 1.25rem;
   height: 100%;
   width: 100%;

   .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.5rem;

      .colorBall {
         width: 0.5rem;
         height: 0.5rem;
         border-radius: 50%;
      }
   }

   .taskList {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      width: 100%;

   }

}